*{
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #759AAB;
    --purple-accent-color: white;
    --light-yellow-accent-color:white;
  }

header{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
    text-align: center;
    background: var(--light-yellow-accent-color);
    color: black;
    padding: 5px;
    letter-spacing: 5px;
    word-spacing: 30px;
}

.display-choice{
    width: 100%;
    height: 300px;
    background: var(--main-bg-color);
    position: relative;
}

.display-choice > div{
    height: 80%;
    width: 33%;
    margin: 0;
    border: var(--purple-accent-color) solid 5px;
    

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#user-label{
    color: beige;
    background: var(--main-bg-color);

    font-family: 'Yanone Kaffeesatz', sans-serif;

    position: absolute;
    top: 40%;
    left: -45px;

    font-size: 3rem;
    padding: 10px;
    border-radius: 20px;

    border: var(--purple-accent-color) solid 4px;
}

#computer-label{
    color: beige;
    background: var(--main-bg-color);

    font-family: 'Yanone Kaffeesatz', sans-serif;

    position: absolute;
    top: 40%;
    right: -80px;

    font-size: 3rem;
    padding: 10px;
    border-radius: 20px;

    border: var(--purple-accent-color) solid 4px;
}

#score-label{
    color: white;
    font-size: 8rem;
    
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
}

.user-choices{
    background: var(--main-bg-color);
    width: 100%;
    height: auto;
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    text-align: center;
    justify-items: center;
    padding-bottom: 50px;
    gap: 2rem;
}

.user-choices div{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    background-size: 100px 100px;
    
}

#rock{
    background-image: url(https://raw.githubusercontent.com/DazHaze/RPSLS-Code-Institute-Project-2/main/assets/images/rock.png);
}
#paper{
    background-image: url(https://raw.githubusercontent.com/DazHaze/RPSLS-Code-Institute-Project-2/main/assets/images/paper.png);
}
#scissors{
    background-image: url(https://raw.githubusercontent.com/DazHaze/RPSLS-Code-Institute-Project-2/main/assets/images/scissors.png);
}
#lizard{
    background-image: url(https://raw.githubusercontent.com/DazHaze/RPSLS-Code-Institute-Project-2/main/assets/images/lizard.png);
}
#spock{
    background-image: url(https://raw.githubusercontent.com/DazHaze/RPSLS-Code-Institute-Project-2/main/assets/images/spock.png);
}

.choice-btn{
    border-radius: 50%;
    border: var(--purple-accent-color) solid 5px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

.choice-btn:hover{
    cursor: pointer;
    background: beige;
    background-repeat: no-repeat;
    background-position: center;
}

#user-choice{
    left:15%;
    height: 250px;
    width: 250px;
    border: var(--purple-accent-color) solid 5px;
    position: absolute;
    background-image: url(https://raw.githubusercontent.com/DazHaze/RPSLS-Code-Institute-Project-2/main/assets/images/paper.png);
    background-repeat: no-repeat;
    background-position: center;
}

#computer-choice{
    left: 85%;
    height: 250px;
    width: 250px;
    border: var(--purple-accent-color) solid 5px;
    position: absolute;
    background-image: url(https://raw.githubusercontent.com/DazHaze/RPSLS-Code-Institute-Project-2/main/assets/images/paper.png);
    background-repeat: no-repeat;
    background-position: center;
}

#show-winner{
    width: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
    background: var(--main-bg-color);
    text-align: center;
    color: beige;
}

footer{
    background: var(--light-yellow-accent-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
    text-align: center;
    height: auto;
    width: 100%;
    bottom: 0;
    padding: 50px 0 50px 0;
}

.game-types{
    background: var(--main-bg-color);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.game-types div{
    flex-direction: column;
    font-size: 3rem;
    color: beige;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    transition: all 0.3s ease;
}

.game-types div:nth-child(1){
    padding: 15px;
    border: white solid 5px;
    border-radius: 20px;
}

.game-types div:nth-child(1):hover{
    color: black;
    background: beige;
    cursor: pointer;
}

.game-types div:nth-child(2){ 
    padding: 15px;
    border: black solid 5px;
    border-radius: 20px;

    color: white;
}

.game-types div:nth-child(2):hover{
    color: black;
    background: white;
    cursor: pointer;
}

.game-types div:nth-child(3){
    padding: 15px;
    border: white solid 5px;
    border-radius: 20px;
}

.game-types div:nth-child(3):hover{
    color: black;
    background: beige;
    cursor: pointer;
}

#you-are-playing{
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 33%;
    top: 80%;
}

@media only screen and (max-width: 900px) {

    .display-choice div:nth-child(1){
        display: none;

    }

    .display-choice div:nth-child(2){
        width: 80%;

    }

    #computer-choice{
        display: none;
    }

    #computer-label{
        font-size: 1.5rem;
        left: 85%;
        margin: 0;
        right: -40px;
        width: auto;
    }

    #user-label{
        font-size: 1.5rem;
        margin: 0;
        width: auto;
    }

    .user-choices{
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    }

    .user-choices div{
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
    }

    #score-label{


    }
  }

